@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App h1{
    text-align: center;
    margin-top: 40px;
  }
  
  .template{
    /* To get three templates in a row */
    width: 33.333%;
    display: inline-block;
    border: 10px solid transparent;
    margin-top: 40px;
  }
  .template .image{
    width: 80%;
    height: 400px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  .template .image:hover{
      cursor: pointer;
    background-color: gray;
    filter: brightness(50%);
    animation-name: darken;
    animation-duration: 1s;
  }
  .meme{
    text-align: center;
  }
  .meme img{
    width: auto;
    height: 500px;
    border: 1px solid black;
    margin-top: 40px;

  }
  .meme input{
    margin: 10px;
    padding: 5px;
  }
  .neonText {
    color: #fff;
    text-shadow:
       /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* Green glow */
    0 0 42px #28FFBF,
    0 0 82px #28FFBF,
    0 0 92px #28FFBF,
    0 0 102px #28FFBF,
    0 0 151px #28FFBF;
  }
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #28FFBF,
        0 0 80px #28FFBF,
        0 0 90px #28FFBF,
        0 0 100px #28FFBF,
        0 0 150px #28FFBF;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
  h1 {
    animation: flicker 1.5s infinite alternate;     
  }
  h1 {
    /* font-family: 'Vujahday Script', cursive; */
    font-family: 'Licorice', cursive;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    /* padding: 0em; */
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
  }
  .meme button{
    margin: 10px;
    padding: 5px;
  }

  .App {
    text-align: center;
    padding: 2%;
    background-color: #071C21;
    /* color: white;
    font-family: Arial; */
  }
  
  .meme-button {
    cursor: pointer;
        font-style: italic;
    padding: 10px 10px;
    display: inline-block;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    overflow: hidden;
  }
  
  /*creating animation effect*/
  .meme-button:hover {
    color: #111;
    background: #28FFBF;
    box-shadow: 0 0 50px #28FFBF;
  }